<!doctype html>
<html class="no-js" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>New</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png"
	href="assets/images/icon/favicon.ico">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/metisMenu.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/slicknav.min.css">
<!-- amcharts css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
<!-- style css -->
<link rel="stylesheet" href="assets/css/typography.css">
<link rel="stylesheet" href="assets/css/default-css.css">
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<!-- modernizr css -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<!-- preloader area start -->
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- sidebar menu area start -->
		<div class="sidebar-menu">
			<div class="sidebar-header">
				<div class="logo">
					<a th:href="index.html"><img src="assets/images/icon/logo.png"
						alt="logo"></a>
				</div>
			</div>
			<div class="main-menu">
				<div th:insert="includes/menu :: menu"></div>
			</div>
		</div>
		<!-- sidebar menu area end -->
		<!-- main content area start -->
		<div class="main-content">
			<!-- header area start -->
			<div th:insert="includes/headarea:: headarea"></div>
			<!-- header area end -->
			<!-- page title area start -->
			<div class="page-title-area">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<div class="breadcrumbs-area clearfix">
							<h4 class="page-title pull-left">Create Check IN</h4>
							<ul class="breadcrumbs pull-left">
								<li><a th:href="@{/checkin}">CheckIn</a></li>
								<li><span>Create</span></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="user-profile pull-right">
							<img class="avatar user-thumb"
								src="assets/images/author/avatar.png" alt="avatar">
							<h4 class="user-name dropdown-toggle" data-toggle="dropdown" th:text ="${#authentication.getPrincipal().getUsername()}">
								 <i class="fa fa-angle-down"></i>
							</h4>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/profile}">Profile</a> <a
									class="dropdown-item" th:href="@{/settings}">Settings</a> <a
									class="dropdown-item" th:href="@{/logout}">Log Out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- page title area end -->
			<div class="main-content-inner">
				<div class="row">
					<!-- data table start -->
					<div class="col-12 mt-5">
						<div class="card">
							<div class="card-body">
								<form class="needs-validation" novalidate=""
									th:action="@{/addcheckin}" method="post">

									<ul class="nav nav-tabs" id="myTab" role="tablist">
									
										<li class="nav-item"><a class="nav-link active show" id="home-tab"
											data-toggle="tab" href="#home" role="tab"
											aria-controls="home" aria-selected="true">Booking
												Informations</a></li>
												
										<li class="nav-item"><a class="nav-link" id="profile-tab"
											data-toggle="tab" href="#profile" role="tab"
											aria-controls="profile" aria-selected="false">Basic
												Informations</a></li>
												
										<li class="nav-item"><a class="nav-link"
											id="contact-tab" data-toggle="tab" href="#contact" role="tab"
											aria-controls="contact" aria-selected="false">Additional
												Informations</a></li>
									</ul>



									<div class="tab-content mt-3" id="myTabContent">
										<div class="tab-pane fade active show" id="home" role="tabpanel"
											aria-labelledby="home-tab">
											<p>
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Adults</label> <input
														name="Adults" type="number" class="form-control"
														id="validationCustom01" placeholder="Adults"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Kids</label> <input
														name="Kids" type="number" class="form-control"
														id="validationCustom02" placeholder="Kids"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Room Plan</label> 
														
														
														<select name="RoomPlan" data-live-search="true"
														type="text" class="form-control selectpicker" required="required">
														<option th:value="${u.id}" th:each="u:${roomTypes}"
															th:text="${u.Title}"></option>
													</select>
														

												</div>
											</div>
											
											

											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Check IN</label> <input
														name="CheckIn" type="date" class="form-control"
														id="validationCustom01" placeholder="Check IN"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Check OUT</label> <input
														name="CheckOut" type="date" class="form-control"
														id="validationCustom02" placeholder="heck OUT"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Duration</label> <input
														name="Duration" type="number" class="form-control"
														id="validationCustom02" placeholder="Duration">

												</div>
											</div>
											</p>
										</div>
										<div class="tab-pane fade" id="profile" role="tabpanel"
											aria-labelledby="profile-tab">
											<p>
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Full Name</label> <input
														name="Fullname" type="text" class="form-control"
														id="validationCustom01" placeholder="Full Name"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Guest Type</label> 
													
													 <select name="GuestType" data-live-search="true"
														type="text" class="form-control selectpicker" required="required">
														<option th:value="${u.id}" th:each="u:${guestTypes}"
															th:text="${u.name}"></option>
													</select>

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Email</label> <input
														name="Email" type="text" class="form-control"
														id="validationCustom04" placeholder="Email"
														required="required">

												</div>
											</div>
											
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Mobile</label> <input
														name="Mobile" type="number" class="form-control"
														id="validationCustom01" placeholder="Mobile"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Address</label> <input
														name="Address" type="text" class="form-control"
														id="validationCustom02" placeholder="Address"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Country</label> 
														
														 <select name="Country" data-live-search="true"
														type="text" class="form-control selectpicker" required="required">
														<option th:value="${u.id}" th:each="u:${countries}"
															th:text="${u.name}"></option>
													</select>

												</div>
											</div>
											
											
											
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">City</label> 
													<select name="city" data-live-search="true" type="text"
														class="form-control selectpicker" required="required">
														<option th:value="${u.id}" th:each="u:${cities}"
															th:text="${u.name}"></option>
													</select>

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Gender</label> 
														
														<select name="Gender" data-live-search="true"
														type="text" class="form-control selectpicker" required="required">
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Age</label> <input
														name="Age" type="number" class="form-control"
														id="validationCustom02" placeholder="Age"
														required="required">

												</div>
											</div>
											</p>
										</div>
										<div class="tab-pane fade" id="contact"
											role="tabpanel" aria-labelledby="contact-tab">
											<p>
											
										
											
											
											
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">BookedBy</label> <input
														name="BookedBy" type="text" class="form-control"
														id="validationCustom01" placeholder="BookedBy">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Vehicle Number</label> <input
														name="VehicleNumber" type="number" class="form-control"
														id="validationCustom02" placeholder="Vehicle Number"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Remark</label> <input
														name="Remark" type="text" class="form-control"
														id="validationCustom02" placeholder="Remark">

												</div>
											</div>


                                            <div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">IDNo</label> <input
														name="IDNo" type="number" class="form-control"
														id="validationCustom01" placeholder="IDNo">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Name Other Person</label> <input
														name="NameOtherPerson" type="text" class="form-control"
														id="validationCustom02" placeholder="Name Other Person"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Gender Other Person</label>
													
														<select name="GenderOtherPerson" data-live-search="true"
														type="text" class="form-control selectpicker" required="required">
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>

												</div>
											</div>

											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Age Other Person</label> <input
														name="AgeOtherPerson" type="number" class="form-control"
														id="validationCustom01" placeholder="Age Other Person"
														required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">Address Other
														Person</label> <input name="AddressOtherPerson" type="text"
														class="form-control" id="validationCustom02"
														placeholder="Address Other Person" required="required">

												</div>
												<div class="col-md-4 mb-3">
													<label for="validationCustom02">IDNo Other Person</label> <input
														name="IDNoOtherPerson" type="number" class="form-control"
														id="validationCustom02" placeholder="IDNo Other Person"
														required="required">

												</div>
											</div>
											<div class="form-row">
												<div class="col-md-4 mb-3">
													<label for="validationCustom01">Advance Payment</label> <input
														name="AdvancePayment" type="number" class="form-control"
														id="validationCustom01" placeholder="Advance Payment">

												</div>

											</div>
											</p>
										</div>
									</div>

									<button class="btn btn-primary" type="submit">
										<i class="fa fa-plus" aria-hidden="true"></i> Create
									</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- main content area end -->
		<!-- footer area start-->
		<footer>
			<div th:insert="includes/footer :: footer"></div>
		</footer>
		<!-- footer area end-->
	</div>
	<div th:insert="includes/settings :: settings"></div>
	<!-- page container area end -->
	<!-- offset area start -->
	<div th:insert="includes/scripts :: scripts"></div>
	<!-- offset area end -->
	<!-- jquery latest version -->
    <script type="text/javascript">
    
    $(function () {
        $('select').selectpicker();
    });
    </script>
</body>

</html>
