
<div class="menu-inner" th:fragment="menu_client">
	<nav>
		<ul class="metismenu" id="menu">
			<li><a th:href="@{/dashboard}"><i class="ti-receipt"></i> <span>Dashboard</span></a></li>
			<li><a th:href="@{/}"><i class="ti-layout"></i> <span>Website</span></a></li>
			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="ti-layout-sidebar-left"></i><span>Check Ins </span></a>
				<ul class="collapse">
					<li><a th:href="@{/checkinsclient}">Check In</a></li>
				</ul></li>
			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="ti-pie-chart"></i><span>Orders</span></a>
				<ul class="collapse">
					<li><a th:href="@{/addextrabedorder}">Extra bed </a></li>
					<li><a th:href="@{/addhousekeepingorder}">House Keeping </a></li>
					<li><a th:href="@{/addfoodorder}">Food </a></li>
					<li><a th:href="@{/addlaundryorder}">Laundry </a></li>
				</ul></li>	
			
		</ul>
	</nav>
</div>