
<div class="menu-inner" th:fragment="menu_reception">
	<nav>
		<ul class="metismenu" id="menu">
			<li><a th:href="@{/dashboard}"><i class="ti-receipt"></i> <span>Dashboard</span></a></li>
			<li><a th:href="@{/}"><i class="ti-layout"></i> <span>Website</span></a></li>

			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="ti-layout-sidebar-left"></i><span>Check Ins </span></a>
				<ul class="collapse">
					<li><a th:href="@{/checkins}">Check In</a></li>
					<li><a th:href="@{/customers}">Customer</a></li>
					<li><a th:href="@{/guesttypes}">Guest Types</a></li>

				</ul></li>
				
			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="ti-pie-chart"></i><span>Rooms</span></a>
				<ul class="collapse">
					<li><a th:href="@{/rooms}">Rooms</a></li>
					<li><a th:href="@{/roomtypes}">Room Types</a></li>
					<li><a th:href="@{/amenities}">Amenity</a></li>
					<li><a th:href="@{/beds}">Beds</a></li>
					<li><a th:href="@{/extrabeds}">Extra Beds</a></li>
				</ul></li>
				
			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="ti-palette"></i><span>Foods</span></a>
				<ul class="collapse">
					<li><a th:href="@{/foods}">Food</a></li>
					<li><a th:href="@{/foodorders}">Food Order</a></li>
					<li><a th:href="@{/foodcategories}">Food Category</a></li>

				</ul></li>

			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="fa fa-table"></i> <span>House keping</span></a>
				<ul class="collapse">
					<li><a th:href="@{/housekeepings}">House keeping</a></li>
					<li><a th:href="@{/housekeepingitems}">House Keeping Items</a></li>
				</ul></li>



			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="fa fa-recycle"></i> <span>Laundry </span></a>
				<ul class="collapse">
					<li><a th:href="@{/laundryorders}">Laundry Orders</a></li>
					<li><a th:href="@{/laundryitems}">Laundry Items</a></li>
				</ul></li>
				
			<li><a href="javascript:void(0)" aria-expanded="true"><i
					class="fa fa-credit-card"></i> <span>Payment</span></a>
				<ul class="collapse">
					<li><a th:href="@{/payments}">Payment</a></li>
					<li><a th:href="@{/paymentmethods}">Payment Method</a></li>
				</ul></li>


		</ul>
	</nav>
</div>